.product__sidebar__view__item .view {
    font-size: 13px;
    color: #ffffff;
    background: #3d3d3d;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 4px;
    position: absolute;
    right: -55px;
    top: 0px;
}

.product__sidebar__view__item {
    height: 100px;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
}
