<app-navbar></app-navbar>
<img class="img-total" [src]="animeOne[0].banner | domseguro:'://':'://www3.'">

<!-- Anime Section Begin -->
<section class="anime-details spad">
    <div class="container">
        <div class="anime__details__content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="anime__details__pic">
                        <img [src]="animeOne[0].poster | domseguro:'://':'://www3.'" class="img-thumbnail">

                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="anime__details__text">
                        <div class="anime__details__title">
                            <h3>{{title}}</h3>
                            <ng-container *ngFor="let m of animeOne[0].moreInfo">
                                <span>{{m.titleJapanese}}</span>
                            </ng-container>

                        </div>
                        <div class="anime__details__rating">
                            <div class="rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-half-o"></i></a>
                            </div>
                            <span>{{animeOne[0].rating}}</span>
                        </div>
                        <p>{{animeOne[0].synopsis}}</p>
                        <div class="anime__details__widget">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Tipo:</span> {{animeOne[0].type}}</li>
                                        <li><span>Studios:</span>
                                            <ng-container *ngFor="let m of animeOne[0].moreInfo">
                                                {{m.studios.names}}
                                            </ng-container>
                                        </li>
                                        <li><span>Fecha de emisión:</span>
                                            <ng-container *ngFor="let m of animeOne[0].moreInfo">
                                                {{m.aired.string}}
                                            </ng-container>
                                        </li>
                                        <li><span>Estado:</span> {{animeOne[0].debut}}</li>
                                        <li><span>Genero:</span>
                                            <ng-container *ngFor="let g of animeOne[0].genres">
                                                {{g}},
                                            </ng-container>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="anime__details__btn">
                            <a [routerLink]="['/dashUser',animeOne[0].id,title]" class="follow-btn"><i class="fa fa-heart-o"></i> Follow</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="anime__details__review">
                    <div class="section-title">
                        <h5>Lista de episodios</h5>
                    </div>
                    <ng-container *ngFor="let e of animeOne[0].episodes;index as i">

                        <ng-container *ngIf="e.nextEpisodeDate!=null; else mostrar">
                            <div class="anime__review__item">
                                <div class="anime__review__item__text">

                                    <p>Proximo Episodio {{e.nextEpisodeDate}}</p>
                                </div>
                            </div>

                        </ng-container>
                        <ng-template #mostrar>
                            <div class="anime__review__item">
                                <div class="anime__review__item__pic">
                                    <img [src]="e.imagePreview">
                                </div>
                                <a [routerLink]="['/verEp',e.id,title,e.episode]">
                                    <div class="anime__review__item__text">

                                        <p>Episodio {{e.episode}}</p>
                                        <i class="fa fa-play"></i>
                                    </div>
                                </a>
                            </div>
                        </ng-template>

                    </ng-container>

                </div>
            </div>
        </div>
    </div>
    <!--     <div class="fb-comments" data-href="http://localhost:4200/anime/anime%2Fshingeki-no-kyojin-the-final-season/Shingeki%20no%20Kyojin:%20The%20Final%20Season" data-width="600px" data-numposts="5"></div> -->

    <div id="disqus_thread"></div>
</section>
<!-- Anime Section End -->
