<app-navbar></app-navbar>
<form [formGroup]="form" novalidate (ngSubmit)="OnSubmit()">
    <fieldset>
        <legend>Upload new anime</legend>
        <!-- Input email -->
        <div class="form-group has-success">
            <label for="nameAnime">Nombre del anime</label>
            <input type="text" class="form-control" id="nameForAnime" aria-describedby="emailHelp" formControlName="nameForAnime" [class.is-invalid]="NameAnimeInvalid" [class.is-valid]="NameAnimeValid" placeholder="Enter NameAnime" autofocus>
            <!-- Si no están correctos los campos imprimios este mensaje -->
            <div class="invalid-feedback" *ngIf="NameAnime.invalid && (NameAnime.dirty || NameAnime.touched)">
                <p *ngIf="NameAnime.errors.required">
                    El nombre del anime es requerido
                </p>
                <!-- <p *ngIf="nameAnime.errors.minlength">
                    nameAnime tiene que tener más de cinco carácteres
                </p> -->
            </div>
            <!-- Acaba mensaje de error -->
        </div>
        <!-- Fin inpt email -->
        <!-- Input password -->
        <div class="form-group has-success">
            <label for="description">Description</label>
            <textarea class="form-control" formControlName="description" [class.is-valid]="DescriptionValid" [class.is-invalid]="DescriptionInvalid" placeholder="Description">
            </textarea>
            <!-- Footer del input -->

            <!-- Si no están correctos los campos imprimios este mensaje -->
            <div class="invalid-feedback" *ngIf="Description.invalid && (Description.dirty || Description.touched)">
                <p *ngIf="Description.errors.required">
                    Description es requerido
                </p>
                <!-- <p *ngIf="Description.errors.minlength">
                    Description tiene que tener más de cinco carácteres
                </p> -->
            </div>
            <!-- Acaba mensaje de error -->
        </div>
        <!-- Fin input password -->
        <!-- Input url image -->
        <div class="form-group has-success">
            <label for="urlImage">Imagen del anime (url)</label>
            <input type="url" class="form-control" id="urlImage" formControlName="urlImage" [class.is-invalid]="UrlImageInvalid" [class.is-valid]="UrlImageValid" placeholder="Url de la imagen" autofocus>
            <!-- Si no están correctos los campos imprimios este mensaje -->
            <div class="invalid-feedback" *ngIf="UrlImage.invalid && (UrlImage.dirty || UrlImage.touched)">
                <p *ngIf="UrlImage.errors.required">
                    La imagen es requerido
                </p>
                <p *ngIf="UrlImage.errors.pattern">
                    Imagen tiene que ser una url valida.
                </p>
            </div>
            <!-- Acaba mensaje de error -->
        </div>
        <!-- Fin input urliamgen -->
        <!-- Input url video -->
        <div class="form-group has-success">
            <label for="urlVideo">Video del anime (url)</label>
            <input type="url" class="form-control" id="urlVideo" formControlName="urlVideo" [class.is-invalid]="UrlVideoInvalid" [class.is-valid]="UrlVideoValid" placeholder="Url de video" autofocus>
            <!-- Si no están correctos los campos imprimios este mensaje -->
            <div class="invalid-feedback" *ngIf="UrlVideo.invalid && (UrlVideo.dirty || UrlVideo.touched)">
                <p *ngIf="UrlVideo.errors.required">
                    El link del video es requerido
                </p>
                <p *ngIf="UrlVideo.errors.pattern">
                    Video tiene que ser una url valida.
                </p>
            </div>
            <!-- Acaba mensaje de error -->
        </div>
        <!-- Fin input urliamgen -->
        <!-- Input url video -->
        <div class="form-group has-success">
            <label for="urlImage">Episodios</label>
            <input type="text" class="form-control" id="episodes" formControlName="episodes" [class.is-invalid]="EpisodesInvalid" [class.is-valid]="EpisodesValid" placeholder="Total de episodios" autofocus>
            <!-- Si no están correctos los campos imprimios este mensaje -->
            <div class="invalid-feedback" *ngIf="Episodes.invalid && (Episodes.dirty || Episodes.touched)">
                <p *ngIf="Episodes.errors.required">
                    El total de espisodios es requerido
                </p>
                <!-- <p *ngIf="urlImage.errors.minlength">
                    urlImage tiene que tener más de cinco carácteres
                </p> -->
            </div>
            <!-- Acaba mensaje de error -->
        </div>
        <!-- Fin input urliamgen -->
        <button type="submit" class="btn btn-primary">Subir anime</button>
    </fieldset>
</form>
