.blog {
    padding-top: 70px;
    padding-bottom: 90px;
}

.blog__item {
    height: 580px;
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
}

.blog__item.small__item {
    height: 285px;
}

.blog__item.small__item .blog__item__text {
    padding: 0 30px;
}

.blog__item.small__item .blog__item__text p {
    margin-bottom: 5px;
}

.blog__item.small__item .blog__item__text h4 a {
    font-size: 20px;
    line-height: 30px;
}

.blog__item__text {
    position: absolute;
    left: 0;
    bottom: 25px;
    text-align: center;
    width: 100%;
    padding: 0 105px;
}

.blog__item__text p {
    color: #ffffff;
    margin-bottom: 12px;
}

.blog__item__text p span {
    color: #e53637;
    margin-right: 5px;
}

.blog__item__text h4 a {
    color: #ffffff;
    line-height: 34px;
}