<app-navbar></app-navbar>
<div class="d-flex" id="wrapper">


    <div class="nav flex-column nav-pills vertical-nav mr-2" id="v-pills-tab " role="tablist" aria-orientation="vertical">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <img [src]="dataUser.photoURL"></div>
            <div class="list-group list-group-flush">
                <p class="list-group-item list-group-item-action bg-light" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">¡Bienvenido {{dataUser.displayName}}!</p>
            </div>
        </div>
    </div>

    <!-- Sidebar -->
    <div class="row row-cols-1 row-cols-md-3 g-4 ">
        <ng-container *ngFor="let f of items | async">
            <div class="col">
                <div class="card">
                    <img [src]="f.name[0].poster | domseguro:'://':'://www3.'">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{f.name[0].synopsis}}</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>




</div>
