.blog-details {
    padding-top: 70px;
}

.blog__details__title {
    text-align: center;
    margin-bottom: 70px;
}

.blog__details__title h6 {
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.blog__details__title h6 span {
    color: #b7b7b7;
    font-weight: 400;
    text-transform: none;
}

.blog__details__title h2 {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 38px;
}

.blog__details__title .blog__details__social a {
    display: inline-block;
    font-size: 15px;
    color: #ffffff;
    padding: 16px 35px 14px 20px;
    border-radius: 2px;
    margin-right: 6px;
}

.blog__details__title .blog__details__social a:last-child {
    margin-right: 0;
}

.blog__details__title .blog__details__social a.facebook {
    background: #3b5998;
}

.blog__details__title .blog__details__social a.pinterest {
    background: #ca2027;
}

.blog__details__title .blog__details__social a.linkedin {
    background: #0372b1;
}

.blog__details__title .blog__details__social a.twitter {
    background: #39a1f2;
}

.blog__details__title .blog__details__social a i {
    margin-right: 6px;
}

.blog__details__pic {
    margin-bottom: 30px;
}

.blog__details__pic img {
    min-width: 100%;
}

.blog__details__text {
    margin-bottom: 40px;
}

.blog__details__text p {
    color: #ffffff;
    font-size: 17px;
    line-height: 30px;
}

.blog__details__item__text {
    margin-bottom: 42px;
}

.blog__details__item__text h4 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 35px;
}

.blog__details__item__text img {
    min-width: 100%;
    margin-bottom: 26px;
}

.blog__details__item__text p {
    color: #ffffff;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 0;
}

.blog__details__tags {
    margin-bottom: 60px;
}

.blog__details__tags a {
    display: inline-block;
    color: #b7b7b7;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    margin-right: 6px;
    padding: 6px 15px;
    margin-bottom: 10px;
}

.blog__details__tags a:last-child {
    margin-right: 0;
}

.blog__details__btns {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px 0 15px;
    margin-bottom: 65px;
}

.blog__details__btns__item {
    margin-bottom: 20px;
}

.blog__details__btns__item.next__btn {
    text-align: right;
}

.blog__details__btns__item h5 a {
    font-size: 17px;
    letter-spacing: 2px;
    color: #ffffff;
}

.blog__details__btns__item h5 a span {
    font-size: 30px;
    color: #b7b7b7;
    position: relative;
    top: 8px;
}

.blog__details__comment {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 30px;
}

.blog__details__comment h4 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 26px;
}

.blog__details__comment__item {
    margin-bottom: 40px;
    overflow: hidden;
}

.blog__details__comment__item.blog__details__comment__item--reply {
    padding-left: 112px;
}

.blog__details__comment__item__pic {
    float: left;
    margin-right: 40px;
}

.blog__details__comment__item__text {
    overflow: hidden;
}

.blog__details__comment__item__text span {
    font-size: 14px;
    color: #b7b7b7;
    display: block;
    margin-bottom: 10px;
}

.blog__details__comment__item__text h5 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 10px;
}

.blog__details__comment__item__text p {
    color: #b7b7b7;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 25px;
}

.blog__details__comment__item__text a {
    display: inline-block;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    padding: 6px 20px;
    letter-spacing: 2px;
    border-radius: 2px;
    margin-right: 14px;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.blog__details__comment__item__text a:hover {
    background: #e53637;
}

.blog__details__form {
    padding-top: 50px;
}

.blog__details__form h4 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 26px;
}

.blog__details__form form input {
    height: 50px;
    width: 100%;
    background: #ffffff;
    font-size: 15px;
    color: #a6a6a6;
    padding-left: 20px;
    border-radius: 2px;
    border: none;
    margin-bottom: 30px;
}

.blog__details__form form input::-webkit-input-placeholder {
    color: #a6a6a6;
}

.blog__details__form form input::-moz-placeholder {
    color: #a6a6a6;
}

.blog__details__form form input:-ms-input-placeholder {
    color: #a6a6a6;
}

.blog__details__form form input::-ms-input-placeholder {
    color: #a6a6a6;
}

.blog__details__form form input::placeholder {
    color: #a6a6a6;
}

.blog__details__form form textarea {
    height: 115px;
    width: 100%;
    background: #ffffff;
    font-size: 15px;
    color: #a6a6a6;
    padding-left: 20px;
    border-radius: 2px;
    padding-top: 12px;
    resize: none;
    border: none;
    margin-bottom: 34px;
}

.blog__details__form form textarea::-webkit-input-placeholder {
    color: #a6a6a6;
}

.blog__details__form form textarea::-moz-placeholder {
    color: #a6a6a6;
}

.blog__details__form form textarea:-ms-input-placeholder {
    color: #a6a6a6;
}

.blog__details__form form textarea::-ms-input-placeholder {
    color: #a6a6a6;
}

.blog__details__form form textarea::placeholder {
    color: #a6a6a6;
}